<% if(theme.busuanzi_analytics && theme.post.showBusuanziViewCount) { %>
    <span class="px-3 text-gray-300">|</span>
    <span id="busuanzi_container_page_pv">
                    <%= __('post.visit') %> <span id="busuanzi_value_page_pv"></span> <%= __('post.visit_postfix') %>
                </span>
<% } %>